html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    user-select: none;
}

header h1 {
    font-weight: 200;
}

.ivu-modal-wrap {
    z-index: 100000 !important;
}

.ivu-modal-confirm-body {
    overflow: auto !important;
}

#header-right-btnGroup {
    height: 60px;
    width: 270px;
    position: absolute;
    right: 10px;
    top: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}

#header-right-btnGroup button {
    margin: 0 5px;
}

#header-right-btnGroup

main {
    height: calc(100% - 60px);
    width: 100%;
}

#tools-area {
    position: absolute;
    height: calc(100% - 60px);
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid #e2e2e2;
    padding: 30px 0;
}

#clear-workspace-btn {
    position: absolute;
    bottom: 40px;
    left: 16px;
}

#blockly-area {
    position: absolute;
    left: 150px;
    height: calc(100% - 60px);
    width: calc(100% - 150px);
}

#blockly-html-div {
    position: absolute;
}

#blockly-js-div {
    position: absolute;
    display: none;
}

#js-toolbox {
    display: none;
}

#live-area {
    height: calc(100% - 60px);
    width: 350px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    border-top: 1px solid #e2e2e2;
}

#live-area iframe {
    height: 100%;
    width: 100%;
    border: none;
}
