<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="积木化编程, 儿童编程, 幼儿编程, 积木化代码生成器, blockly">
    <meta name="description" content="Flaps 是在线的积木化编程网站，你可以用它简单编写运行在网页上的 JavaScript 代码！">
    <meta name="author" content="Bill Dong">
    <link rel="icon" type="image/x-icon" href="img/logo.ico">
    <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- 51la -->
    <script type="text/javascript" src="//js.users.51.la/20508703.js"></script>
    <title>Flaps - 在线 JavaScript 积木化编程</title>
</head>

<body>
    <header>
        <div id="browser-language-change-modal">
            <modal v-model="isShow" title="Switch Language" @on-ok="changeLang">
                <p>Your browser language seems to be English. Do you want to switch to the English website?</p>
            </modal>
        </div>
        <h1>
            <embed height="40px" src="img/logo.svg" type="image/svg+xml">
            <a style="color: black;" href="index.html">
                <span style="position: relative; bottom: 10px;">Flaps</span>
            </a>
        </h1>
        <div id="header-right-btnGroup">
            <i-button @click="generateAndRunCode" type="primary" shape="circle" icon="ios-play" title="直接生成并运行代码"></i-button>
            <i-button @click="generateCode" title="生成当前工作空间代码" icon="ios-build"></i-button>
            <i-button @click="downloadGenerateCode" title="下载当前工作空间代码" icon="ios-code-download"></i-button>
            <i-button @click="toggleWorkspace" title="切换 HTML\JavaScript 工作空间" icon="ios-browsers"></i-button>
            <i-button @click="toggleLiveBoard" title="显示\关闭实时预览面板" icon="ios-menu"></i-button>
        </div>
    </header>

    <main>
        <div id="tools-area">
            <upload :before-upload="importBlockXMLFile" action="//jsonplaceholder.typicode.com/posts/">
                <i-button icon="ios-cloud-upload-outline">导入块文件</i-button>
            </upload>
            <i-button style="margin-top: 4px;" icon="ios-cloud-download-outline" @click="exportBlockXMLFile">导出块文件</i-button>
            <br>
            <br>
            <br>
            <i-button @click="clearWorkspace" title="清理当前工作空间" id="clear-workspace-btn">清空工作空间</i-button>
            <modal v-model="clearModal" title="你确定要清空工作空间吗？" @on-ok="clearModalOk">
                <p style="color: red">清空工作空间后将无法恢复！请谨慎操作！</p>
            </modal>
        </div>

        <div id="blockly-area"></div>

        <div id="blockly-html-div"></div>
        <xml id="html-toolbox">
            <category name="段落" colour="210">
                <block type="html_text"></block>
                <block type="html_p"></block>
            </category>
            <category name="标题" colour="180">
                <block type="html_h1"></block>
                <block type="html_h2"></block>
                <block type="html_h3"></block>
                <block type="html_h4"></block>
                <block type="html_h5"></block>
                <block type="html_h6"></block>
            </category>
            <category name="全局" colour="140">
                <block type="html_document"></block>
                <block type="html_head"></block>
                <block type="html_body"></block>
                <block type="html_title"></block>
                <block type="html_meta"></block>
                <block type="html_link"></block>
                <block type="html_script"></block>
            </category>
            <category name="媒体" colour="80">
                <block type="html_img"></block>
                <block type="html_audio"></block>
                <block type="html_video"></block>
                <block type="html_source"></block>
            </category>
            <category name="表单" colour="270">

            </category>
            <category name="数据" colour="300">
                <block type="html_data_ol"></block>
                <block type="html_data_ul"></block>
                <block type="html_data_list_item"></block>
                <block type="html_data_table"></block>
                <block type="html_data_table_title"></block>
                <block type="html_data_table_thead"></block>
                <block type="html_data_table_tbody"></block>
                <block type="html_data_table_th"></block>
                <block type="html_data_table_tr"></block>
                <block type="html_data_table_td"></block>
            </category>
            <category name="样式" colour="240">
                <block type="html_style"></block>
                <block type="html_style_sel"></block>
                <block type="html_style_item"></block>
            </category>
            <category name="属性" colour="40">
                <block type="html_attr_stat"></block>
                <block type="html_attr"></block>
            </category>
        </xml>

        <div id="blockly-js-div"></div>
        <xml id="js-toolbox">
            <category name="逻辑" colour="210">
                <block type="logic_boolean"></block>
                <block type="controls_if"></block>
                <block type="controls_ifelse"></block>
                <block type="logic_compare"></block>
                <block type="logic_operation"></block>
                <block type="logic_negate"></block>
                <block type="logic_null"></block>
                <block type="logic_interval"></block>
                <block type="logic_interval_clear"></block>
                <block type="logic_timeout"></block>
                <block type="logic_timeout_clear"></block>
            </category>
            <category name="动作" colour="180">
                <block type="action_alert"></block>
                <block type="action_prompt"></block>
                <block type="action_confirm"></block>
                <block type="action_get_el"></block>
                <block type="action_get_all_el"></block>
                <block type="action_get_attr"></block>
                <block type="action_set_attr"></block>
                <block type="action_get_style"></block>
                <block type="action_set_style"></block>
                <block type="action_get_inner"></block>
                <block type="action_set_inner"></block>
                <block type="action_set_event"></block>
                <block type="action_trigger_event"></block>
                <block type="action_run_js_code"></block>
            </category>
            <category name="循环" colour="120">
                <block type="controls_repeat_ext"></block>
                <block type="controls_repeat"></block>
                <block type="controls_whileUntil"></block>
                <block type="controls_for"></block>
                <block type="controls_forEach"></block>
                <block type="controls_flow_statements"></block>
            </category>
            <category name="文本" colour="160">
                <block type="text"></block>
                <block type="text_multiline"></block>
                <block type="text_join"></block>
                <block type="text_append"></block>
                <block type="text_length"></block>
                <block type="text_isEmpty"></block>
                <block type="text_indexOf"></block>
                <block type="text_charAt"></block>
            </category>
            <category name="数学" colour="230">
                <block type="math_number"></block>
                <block type="math_arithmetic"></block>
                <block type="math_single"></block>
                <block type="math_trig"></block>
                <block type="math_constant"></block>
                <block type="math_number_property"></block>
                <block type="math_round"></block>
                <block type="math_on_list"></block>
                <block type="math_modulo"></block>
                <block type="math_constrain"></block>
                <block type="math_random_int"></block>
                <block type="math_random_float"></block>
                <block type="math_atan2"></block>
            </category>
            <category name="数据" colour="40">
                <block type="data_to_number"></block>
                <block type="data_to_boolean"></block>
                <block type="data_typeof"></block>
                <block type="data_isnan"></block>
                <block type="data_object_generator"></block>
                <block type="data_object_add_member"></block>
                <block type="data_object_get_member"></block>
                <block type="data_object_get_all_member"></block>
                <block type="lists_create_empty"></block>
                <block type="lists_repeat"></block>
                <block type="lists_reverse"></block>
                <block type="lists_isEmpty"></block>
                <block type="lists_length"></block>
                <block type="lists_indexOf"></block>
                <block type="lists_getIndex"></block>
                <block type="lists_setIndex"></block>
                <block type="lists_getSublist"></block>
                <block type="lists_sort"></block>
                <block type="lists_split"></block>
                <block type="data_date_get_now_time_number"></block>
                <block type="data_date_get_time"></block>
            </category>
            <category name="颜色" colour="20">
                <block type="colour_picker"></block>
                <block type="colour_random"></block>
                <block type="colour_rgb"></block>
                <block type="colour_blend"></block>
            </category>
            <category name="变量" colour="330" custom="VARIABLE"></category>
            <category name="函数" colour="290" custom="PROCEDURE"></category>
        </xml>

        <div id="live-area" :style="styles">
            <iframe :srcdoc="liveHTML"></iframe>
        </div>
    </main>

    <script src="js/lib/vue.min.js"></script>
    <script src="js/lib/fileSaver.js"></script>
    <script src="//unpkg.com/view-design/dist/iview.min.js"></script>
    <script src="js/blockly/blockly_compressed.js"></script>
    <script src="js/blockly/html.js"></script>
    <script src="js/blockly/javascript_compressed.js"></script>
    <script src="js/blockly/generators/html/html.js"></script>
    <script src="js/blockly/generators/javascript/action.js"></script>
    <script src="js/blockly/generators/javascript/logic_new.js"></script>
    <script src="js/blockly/generators/javascript/data.js"></script>
    <script src="js/blockly/blocks_compressed.js"></script>
    <script src="js/blockly/blocks/html.js"></script>
    <script src="js/blockly/blocks/action.js"></script>
    <script src="js/blockly/blocks/logic_new.js"></script>
    <script src="js/blockly/blocks/data.js"></script>
    <script src="js/blockly/msg/js/zh-hans.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
